@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts/fonts.css';


body {
    font-family: "Twine";
    font-weight: normal;
    font-style: normal;
  }
  nav a:before {
    content: "";
    @apply absolute  h-1 rounded-[4px] bg-twineLightGreen bottom-[0px] left-3 right-3;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  nav a:hover:before {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  @media (max-width: 1280px) {
    nav {
      @apply fixed top-[120px] sm:top-[84px] lg:top-[120px] bottom-0 h-full w-full max-w-[100%] left-[-100%] bg-twineBlack pt-[30px] flex flex-col items-start px-0 sm:px-5 transition-all duration-500 overflow-y-auto;
    }
  
    nav.sidebar-open {
      @apply left-0 opacity-100 visible;
    }
    nav.sidebar-open:after {
      @apply opacity-100;
    }
  }
  
  